@namespace Blazor.Components

<div style="text-align:center;">
    <h2>Blazor在线编辑器</h2>
    <MDivider></MDivider>
    <a href="https://github.com/239573049/Blazor.Code/blob/master/LICENSE">
        <img src="https://camo.githubusercontent.com/b0ae38dceb7087a93c566bcf5fd05b0e511edd3d523a290e0a9fe465b4c97df0/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6c6963656e73652d4d49542d696e666f726d6174696f6e616c" alt="Semi Design Blazor" data-canonical-src="https://img.shields.io/badge/license-MIT-informational" style="max-width: 100%;">
    </a>
    <br/>
    <span>支持动态编译Razor组件代码，内置Masa Blazor动态编译实现，也可以通过加载程序集加入新组件</span>
    <br/>
    <span>使用方法：?Path=https://github.com/BlazorComponent/MASA.Blazor/blob/main/docs/Masa.Blazor.Docs/Examples/components/buttons/Loaders.razor </span>
    <br />
    <span>可以通过Url传递Path参数加载GitHub仓库代码文件，如果Path存在默认直接执行代码</span>
</div>
