@using Blazor.Code.Shared.Nuget
<div>

    <MTextField @bind-Value="Value"
                Solo
                OnAppendOuterClick="Search"
                AppendOuterIcon=" mdi-arrow-left">
    </MTextField>

    <MList Subheader>
        @if (NugetListDto.data != null)
        {
            @foreach (var chat in NugetListDto.data)
            {
                <MListItem>
                    <MListItemAvatar>
                        <MImage
                            alt="@($"{chat.title}")"
                            Src="@chat.iconUrl">
                        </MImage>
                    </MListItemAvatar>

                    <MListItemContent>
                        <MListItemTitle>@chat.title</MListItemTitle>
                    </MListItemContent>
                    @* *@
                    @* <MListItemIcon> *@
                    @*      *@
                    @* </MListItemIcon> *@
                </MListItem>
            }
        }
    </MList>
    <div class="text-center">
        <MPagination Value="skip" Length="page" ValueChanged="PageChanged"></MPagination>
    </div>
</div>

@code {

    #region Inject

    [Inject]
    public NugetService NugetService { get; set; }

    #endregion

    ///<remarks>
    /// 搜索内容
    /// </remarks>
    private string? Value { get; set; }

    ///<remarks>
    /// 是否预览
    /// </remarks>
    public bool Prerelease { get; set; }

    private int skip { get; set; } = 1;

    private int take { get; set; } = 20;

    public int page => NugetListDto?.totalHits ?? 1 / 20;

    private NugetListDto NugetListDto = new();

    private async Task Search()
    {
        NugetListDto = await NugetService.SearchAsync(Value, skip - 1, take);
        StateHasChanged();
    }

    private async Task PageChanged(int i)
    {
        skip = i;
        await Search();
    }

}

<style>
.left{
    float: left;
}
    
</style>