@using Blazor.Code.Shared.Nuget
<div>

    <MTextField @bind-Value="Value"
                Solo>
                <AppendContent>
                    <MButton OnClick="Search">搜索</MButton>
                </AppendContent>
    </MTextField>

    <MList Subheader >
        @if (NugetListDto.data != null)
        {
            @foreach (var chat in NugetListDto.data)
            {
                <MListItem>
                    <MListItemAvatar>
                        <MImage
                            alt="@($"{chat.title}")"
                            Src="@chat.iconUrl">
                        </MImage>
                    </MListItemAvatar>

                    <MListItemContent>
                        <MListItemTitle>@chat.title</MListItemTitle>
                    </MListItemContent>
                    <MButton OnClick="()=>AddPack(chat)">加入包</MButton>
                </MListItem>
            }
        }
    </MList>
    <div class="text-center">
        <MPagination Value="skip" Length="page" TotalVisible="7" ValueChanged="PageChanged"></MPagination>
    </div>
</div>

@code {

    #region Inject

    [Inject]
    public NugetService NugetService { get; set; }

    #endregion

    ///<remarks>
    /// 搜索内容
    /// </remarks>
    private string? Value { get; set; }

    ///<remarks>
    /// 是否预览
    /// </remarks>
    public bool Prerelease { get; set; }

    private int skip { get; set; } = 1;

    private int take { get; set; } = 20;

    public int page => NugetListDto?.totalHits ?? 1 / 20;

    private NugetListDto NugetListDto = new();

    private async Task Search()
    {
        NugetListDto = await NugetService.SearchAsync(Value, (skip - 1) * take, take);
        StateHasChanged();
    }

    private async Task AddPack(Datum datum)
    {
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(datum));
    }

    private async Task PageChanged(int i)
    {
        skip = i;
        await Search();
    }

}

<style>
.left{
    float: left;
}
    
</style>